<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0ugx-0i8QT5t9MYie3g7_Yu5B4GH083M</string>
	<key>GCM_SENDER_ID</key>
	<string>685066245034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sistemKriptografi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>app-kriptografi</string>
	<key>STORAGE_BUCKET</key>
	<string>app-kriptografi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685066245034:ios:780cf5887b1b5d90d311d3</string>
</dict>
</plist>